<div>
  {{!-- <img src="/assets/img/cute_burger.jpeg" class="cols-4" width="300px" id="burger-img"> --}}
  <img src="/assets/img/source.gif" class="cols=4" width="200px" id="burger-img">
</div>
    <h1>EAT-DA-BURGER!</h1>
    <h2>Add Your Burger and Submit</h2>
    <form class="create-form">
      <input type="text" id="burgername" name="burger_name" placeholder="Enter A Delicious Burger">
      <button type="submit" class="addBtn">Submit</button>
    </form>
  {{!-- </div> --}}
{{!-- </div> --}}
<hr>
<div class="container">
  {{!-- <div class="row"> --}}
   
    <div class="col-sm-6">

      <h2>Click a Burger to eat it!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <button class="eat-burger" data-id="{{id}}" data-newdev="{{this.devoured}}">{{burger_name}}</button>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-6">

      <h2>Burgers that you have eaten!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <button class="del-burger devbtn" data-id="{{id}}">{{burger_name}}</button>
        {{/if}}
        {{/each}}
      </ul>
    </div>

</div>
